In [23]:
import numpy as np
import pandas as pd

In [2]:
countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

In [3]:
life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

In [4]:
gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

In [14]:
# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

In [15]:
# Accessing elements and slicing
if False:
    print life_expectancy[0]
    print gdp[3:6]

In [16]:
# Looping
if False:
    for country_life_expectancy in life_expectancy:
        print 'Examining life expectancy {}'.format(country_life_expectancy)

In [17]:
# Pandas functions
if False:
    print life_expectancy.mean()
    print life_expectancy.std()
    print gdp.max()
    print gdp.sum()

In [18]:
# Vectorized operations and index arrays
if False:
    a = pd.Series([1, 2, 3, 4])
    b = pd.Series([1, 2, 1, 2])
  
    print a + b
    print a * 2
    print a >= 3
    print a[a >= 3]

In [19]:
def variable_correlation(variable1, variable2):
    both_above = (variable1 > variable1.mean()) & \
                (variable1 > variable1.mean())
    both_below = (variable1 < variable1.mean()) & \
                (variable1  < variable1.mean())
    is_same_direction = both_above | both_below
    num_same_direction = is_same_direction.sum()        
    num_different_direction = len(variable1) - num_same_direction   
    
    return (num_same_direction, num_different_direction)

In [20]:
variable_correlation(life_expectancy, gdp)

(20, 0)

In [25]:
a = np.array([1,2,3,4])
s = pd.Series([1,2,3,4])

In [26]:
s.describe()

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

In [28]:
countries = np.array(['Albania', 'Algeria', 'Andorra', 'Angola'])
life_expectancy = np.array([74.7,  75. ,  83.4,  57.6])
life_expectancy = pd.Series([74.7,  75. ,  83.4,  57.6], index = ['Albania', 'Algeria', 'Andorra', 'Angola'])
life_expectancy

Albania    74.7
Algeria    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [29]:
# NumPy arrays are like souped-up Python lists
# A pandas series is like a cross between a list and a dictionary
life_expectancy[0]

74.700000000000003

In [30]:
life_expectancy.loc['Angola']

57.600000000000001

In [32]:
pd.Series([74.7,  75. ,  83.4,  57.6])

0    74.7
1    75.0
2    83.4
3    57.6
dtype: float64

In [33]:
life_expectancy.iloc[0]

74.700000000000003

In [34]:
countries[0]

'Albania'

In [35]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
]

In [36]:
# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

In [37]:
def max_employment(employment):
    max_country = employment.argmax() # index of maximun values    
    max_value = employment.loc[max_country]   

    return (max_country, max_value)

In [38]:
# Addition when indexes are the same
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
    print s1 + s2

In [39]:
# Indexes have same elements in a different order
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])
    print s1 + s2

In [40]:
# Indexes overlap, but do not have exactly the same elements
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])
    print s1 + s2

In [41]:
# Indexes do not overlap
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])
    print s1 + s2

In [51]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])

print(s1+s2)

a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64

In [52]:
# Alternate solution: Treat missing values as 0 before the addition
s1.add(s2,fill_value=0)

a     1.0
b     2.0
c    13.0
d    24.0
e    30.0
f    40.0
dtype: float64

In [53]:
states  = pd.Series(['California','OH','Michigan','NY'])

In [54]:
def clean_state(state):
    if len(state) == 2:
        return state
    elif state == 'Alabama':
        return 'AL'
    elif state == 'Alaska':
        return

In [55]:
clean_states=[]
for state in states:
    clean_states.append(clean_state(state))
clean_states = pd.Series(clean_states)

In [56]:
clean_states = states.apply(clean_state)

In [58]:
if False:
    s = pd.Series([1, 2, 3, 4, 5])
    def add_one(x):
        return x + 1
    print s.apply(add_one)

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

In [60]:
def reverse_name(name):
    split_name = name.split(" ")
    first_name = split_name[0]
    last_name = split_name[1]
    return last_name +", "+ first_name

In [61]:
reverse_name(names.iloc[0])

'Agassi, Andre'

In [62]:
def reverse_names(names):
    return names.apply(reverse_name)

In [63]:
reverse_names(names)

0             Agassi, Andre
1              Bonds, Barry
2     Columbus, Christopher
3             Defoe, Daniel
4           Estevez, Emilio
5          Flintstone, Fred
6              Garbo, Greta
7          Humbert, Humbert
8               Ilych, Ivan
9              Joyce, James
10         Knightley, Keira
11               Lane, Lois
12              Myers, Mike
13              Nolte, Nick
14           Osbourne, Ozzy
15           Picasso, Pablo
16       Quirrell, Quirinus
17             Ray, Rachael
18          Sarandon, Susan
19             Turner, Tina
20           Urbina, Ugueth
21            Vaughn, Vince
22          Wilson, Woodrow
23             Yamada, Yoji
24         Zidane, Zinedine
dtype: object